
*{
    box-sizing: border-box;

}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: steelblue;
}
.empty{
   height: 150px;
   width: 150px;
   margin: 10px;
    border: 3px solid black;
    background: white;
}
.fill {
    background-image: url('https://images.unsplash.com/photo-1564507592333-c60657eea523?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover ;
    background-position: center center;
    height: 145px;
    width: 145px;
    cursor: pointer;
  }
  .hold{
    border: solid 5px #ccc;
  }
  .hovered{
    background-color: #333;
    border-color: White;
    border-style: dashed;
  }

@media (max-width:800px) {
    body{
        flex-direction: column;
    }
}